<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="22px">
    <div routerLink="/">
      <img
        src="https://avatars.githubusercontent.com/u/40270033?v=4"
        alt="sounish-nath-logo"
        class="rounded-full w-12 h-12 ring-blue-600 border-4 border-white shadow"
      />
    </div>
    <div
      class="px-4 py-2 hover:cursor-pointer rounded-lg"
      routerLinkActive="true"
      routerLink="/"
    >
      Home
    </div>
    <div class="px-4 py-2 hover:cursor-pointer rounded-lg">Blogs</div>
    <div class="px-4 py-2 hover:cursor-pointer rounded-lg">Projects</div>
    <div class="px-4 py-2 hover:cursor-pointer rounded-lg">Uses</div>
    <div class="px-4 py-2 hover:cursor-pointer rounded-lg">Resume</div>
  </div>
  <div class="hover:cursor-pointer">Sign in</div>
</div>
