<div
  fxLayout.gt-sm="row"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="22px">
    <div routerLink="/">
      <img
        [src]="avatarURL$ | async"
        alt="sounish-nath-logo"
        class="rounded-full w-12 h-12 shadow cursor-pointer"
      />
    </div>
    <div
      class="px-4 py-2 hover:cursor-pointer rounded-lg"
      routerLinkActive="button-gray"
      routerLink="home"
    >
      Home
    </div>
    <div
      routerLink="blogs"
      routerLinkActive="button-gray"
      class="button-hover-gray"
    >
      Blogs
    </div>
    <div
      routerLink="projects"
      routerLinkActive="button-gray"
      class="button-hover-gray"
    >
      Projects
    </div>
    <div
      routerLink="uses"
      routerLinkActive="button-gray"
      class="button-hover-gray"
    >
      Uses
    </div>
    <div
      routerLink="resume"
      routerLinkActive="button-gray"
      class="button-hover-gray"
    >
      Resume
    </div>
  </div>
  <div class="hover:cursor-pointer button-hover-gray font-sans">Sign in</div>
</div>
