<div class="my-4 rounded-2xl bg-base-100 max-w-[920px] mx-auto">
  <div class="flex text-lg md:text-xl flex-col justify-center items-center py-6 gap-4 text-center">
    <div>
      <h2 class="text-3xl md:text-5xl text-primary">Get in Touch</h2>
    </div>
    <div>
      <p class="max-w-xl md:max-w-3xl text-secondary font-light">
        Looking for a dedicated professional to address your complex projects,
        or simply wish to exchange ideas with a fellow innovator? I'm just an
        email away.
      </p>
      <div class="flex flex-col md:flex-row justify-center items-center my-4 gap-3">
        <div>
          <a href="mailto:flock.sinasini@gmail.com"
            class="text-success hover:text-info-hover bg-sky-100 px-2 rounded-lg">flock.sinasini[at]gmail.com 📧</a>
        </div>
        <div>or</div>
        <div class="cursor-pointer bg-gray-100 text-content px-2 rounded-lg" routerLink="/linktree">
          simply let's connect &rarr;
        </div>
      </div>
    </div>
  </div>
</div>