<div class="text-center">
  <h2 nz-typography>Blogs I have wrote 📝...</h2>
  <p nz-typography>
    i try to write once in a while. let me know your thoughts in mail
    <a nz-typography href="mailto:flock.sinasini@gmail.com"
      ><b class="text-gray-700">📤 flock.sinasini@gmail.com.</b></a
    >
  </p>
  <div
    class="mb-20 mt-3"
    fxLayout="row wrap"
    fxLayoutGap="15px"
    fxLayoutAlign="center center"
  >
    <div>Connect with me on:</div>
    <div *ngFor="let link of socialLinks$ | async">
      <a [href]="link.link" target="_blank">
        <img [src]="link.icon" alt="social link" width="30" height="30" />
      </a>
    </div>
  </div>
</div>

<div class="my-5">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20">
    <nz-tag
      class="cursor-pointer"
      [nzColor]="selectedTag === tag ? 'green' : 'magenta'"
      *ngFor="let tag of tagsFromBlogPosts$ | async"
      (click)="updateTag(tag)"
    >
      #{{ tag }}
    </nz-tag>
    <nz-tag
      nzColor="error"
      class="cursor-pointer"
      (click)="updateTag('')"
      *ngIf="isTagSelected"
    >
      <span> &cross; CLEAR ALL</span>
    </nz-tag>
  </div>
</div>

<div *ngIf="blogsPosts$ | async; else noBlog">
  <div
    fxLayout.gt-md="row wrap"
    fxLayout="column wrap"
    fxLayoutAlign="start center"
    fxLayoutAlign.gt-md="center center"
    fxLayoutGap="16"
    fxLayoutGap.gt-md="10"
  >
    <app-card-holder
      *ngFor="let blog of blogsPosts$ | async"
      [cardContent]="blog"
      [routerLink]="['/blogs', blog.slug]"
    ></app-card-holder>
  </div>
</div>
<ng-template #noBlog>
  <app-no-data></app-no-data>
</ng-template>
