<!-- <div>
  @for (item of githubProjects$|async; track $index) {
  <div>{{ item.full_name }}</div>
  }
</div> -->
<div class="grid grid-cols-2">
  <div class="col-span-2">
    <div class="grid grid-cols-2 gap-5">
      @for (item of [1,2,3,4]; track $index) {
      <div class="w-full border rounded-lg p-3">
        <div class="flex flex-col justify-start items-start gap-3">
          <div class="flex gap-4">
            <h3 class="text-2xl">Manifold</h3>
            <div class="p-2 rounded bg-gray-100 text-xs">
              {{ "2024-06-10" | date }}
            </div>
          </div>
          <div class="text-sm max-w-lg text-info-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            itaque repudiandae eius doloribus, deserunt non cupiditate amet
            quam. Ullam corrupti libero, nihil fugit reiciendis accusantium ea
            ipsam corporis aperiam aspernatur!
          </div>
          <div class="grid grid-cols-5 gap-2">
            @for (item of [1,2,4,5]; track $index) {
            <div class="p-2 rounded bg-gray-100 text-xs">Angular</div>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<app-get-in-touch></app-get-in-touch>
