<div *ngIf="project$ | async as project;">
    <div *ngIf="project.title.length>0;else template"
        class="-mt-5 p-2 rounded-lg border rounded-lg h-screen mx-auto hidden-scrollbar">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 w-full">
            <div class="p-2 border-r border-gray-300 flex flex-col justify-start items-center gap-5 w-full">
                <div class="flex flex-row justify-between items-center w-full text-xl">
                    <div class="text-2xl cursor-pointer"> <a href="/">&larr;</a> </div>
                    <div class="p-2 rounded bg-gray-100 text-xs"> {{ project.dateOfPublish | date }} </div>
                </div>


                <div class="rounded-lg w-full">
                    <img [src]="project.image" alt="placeholder-img" class="p-2 rounded-lg max-h-48 w-full">
                </div>

                <div class="w-full text-xl lg:text-3xl font-bold text-primary"> {{project.title}} </div>

                <div class="flex flex-row gap-2 text-xs items-center w-full">
                    @for (tag of project.tags; track $index) {
                    <div class="text-center border px-2 py-1 rounded bg-gray-50"> {{tag}} </div>
                    }
                </div>


                <div class="font-sans my-5"> {{project.shortDescription}} </div>

            </div>
            <hr class="lg:hidden block" />
            <div class="m-2 lg:col-span-2 prose w-full" [innerHTML]="sanitizeHtml( markdownContent$ | async)"> </div>
        </div>
    </div>
</div>

<ng-template #template>
    <app-page-not-found></app-page-not-found>
</ng-template>