<div class="flex flex-col md:flex-row gap-3 justify-center md:justify-around items-center">
  <div>
    <div class="flex flex-col justify-start">
      <div class="text-2xl">
        Hello! 👋, <b class="text-primary"> I'm {{ name$ | async }}.</b>
      </div>
      <div class="text-6xl max-w-xl">
        <span [textContent]="attributes$ | async"></span>
      </div>
      <div class="my-6 max-w-xl text-content">
        <div *ngIf="profileSummary$ | async as pf" [innerHTML]="markdownCompile(pf)"> </div>
      </div>
    </div>
    <button class="btn btn-primary mx-auto">
      <a target="_blank" [href]="resume$| async">Download Resume
        &darr;</a>
    </button>
  </div>

  <div>
    <img class="rounded-full w-96 ring-3 ring-blue-700 ring-offset-4" src="assets/sounish-nath-photo.webp"
      alt="sounish-logo" />
    <div class="my-6">
      <div class="flex gap-3 flex-row justify-center items-center">
        <a href="https://www.linkedin.com/in/sounishnath/" target="_blank">
          <img alt="linkedin" src="/assets/linkedin-logo.svg"
            class="bg-sky-50 w-10 p-2 cursor-pointer rounded-md border hover:shadow-lg inset-1 transition-all" />
        </a>
        <a href="https://x.com/sounish1" target="_blank">
          <img src="/assets/twitter-logo.svg" alt="x"
            class="bg-sky-50 w-10 p-2 cursor-pointer rounded-md border hover:shadow-lg inset-1 transition-all" />
        </a>
        <a href="mailto:flock.sinasini@gmail.com">
          <img src="/assets/email-logo.svg" alt="mail"
            class="bg-sky-50 w-10 p-2 cursor-pointer rounded-md border hover:shadow-lg inset-1 transition-all" />
        </a>
        <img routerLink="/linktree" src="/assets/user-logo.svg" alt="mail"
          class="bg-sky-50 w-10 p-2 cursor-pointer rounded-md border hover:shadow-lg inset-1 transition-all" />
      </div>
    </div>
  </div>
</div>
<div class="my-1 text-xl">
  Worked At &colon;
  <div class="flex my-3 flex-start justify-start items-center gap-6 max-w-md">
    <img *ngFor="let item of workedAtCompanies$ | async" [src]="item.image" [alt]="item.companyName" class="w-36" />
  </div>
</div>