<div
  class="flex flex-col md:flex-row gap-3 justify-center md:justify-around items-center"
>
  <div>
    <div class="flex flex-col justify-start">
      <div class="text-2xl">
        Hello! 👋, <b class="text-primary"> I'm Sounish Nath.</b>
      </div>
      <div class="text-6xl">
        <span [textContent]="attributes$ | async"></span>
      </div>
      <div class="my-6 max-w-xl text-content">
        <span [textContent]="profileSummary$ | async"> </span>
      </div>
    </div>
    <button class="btn btn-primary">Download Resume &darr;</button>
  </div>

  <div>
    <img
      class="rounded-full md:w-full w-36"
      src="https://media.licdn.com/dms/image/D4D03AQHojhFQ6dxZBA/profile-displayphoto-shrink_200_200/0/1695930340150?e=2147483647&v=beta&t=xLrHiQmk5-JPuNr2oOj9leTMKdUQGj1Gxd58vw550FM"
      alt="sounish-logo"
    />
  </div>
</div>
<div class="my-10 text-xl">
  Worked At &colon;
  <div class="flex my-3 flex-start justify-start items-center gap-6 max-w-md">
    <img
      *ngFor="let item of workedAtCompanies$ | async"
      [src]="item.image"
      [alt]="item.companyName"
      class="w-32"
    />
  </div>
</div>
