<div
  class="card max-w-[780px] text-primary-content flex flex-col justify-center items-center p-4 m-auto bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-blue-700 via-blue-800 to-gray-900"
  *ngIf="linkTreeDetails$ | async as details"
>
  <div class="avatar">
    <div class="w-24 rounded-full">
      <img [src]="details.photo" alt="profile-logo" />
    </div>
  </div>
  <div class="card-body flex flex-col justify-center items-center gap-4">
    <h2
      class="card-title text-3xl md:text-5xl bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-orange-500 via-indigo-500 to-green-500 text-transparent bg-clip-text"
    >
      {{ details.publicName | titlecase }}
    </h2>
    <p
      class="text-accent text-xl text-center"
      [textContent]="details.designation"
    ></p>
    <p
      class="text-accent text-sm italic tracking-wide"
      [textContent]="details.bio"
    ></p>

    <!-- comment -->
    <button
      *ngFor="let link of details.links"
      class="btn w-full hover:bg-accent"
    >
      <a
        [href]="link.href"
        target="_blank"
        class="link-hover flex justify-around items-center gap-4 m-auto"
      >
        <div>
          <img [src]="link.icon" [alt]="link.profileName" class="w-6" />
        </div>
        <div>{{ link.profileName }}</div>
      </a>
    </button>
  </div>
</div>
