<div class="relative mx-auto max-w-[950px] " *ngIf="linkTreeDetails$ | async as details">
  <div class="card bg-white p-7 rounded-md">
    <div class="text-primary-content flex flex-col md:flex-row justify-center items-center p-4 m-auto gap-10">
      <div class="avatar">
        <div class="w-32 rounded-full black-and-white-burnout">
          <img [src]="details.photo" alt="profile-logo" />
        </div>
      </div>
      <div class="card-body flex flex-col justify-around items-center gap-4">
        <h2
          class="card-title text-3xl md:text-6xl bg-[conic-gradient(at_right,_var(--tw-gradient-stops))] from-orange-950 via-blue-800 to-slate-600 bg-clip-text text-transparent font-bold tracking-wide">
          {{ details.publicName | titlecase }}
        </h2>
        <p class="text-black md:text-xl text-center" [textContent]="details.designation"></p>
        <p class="text-secondary text-sm italic text-center" [textContent]="details.bio"></p>
        <a [href]="resumeLink$ | async" target="_blank" class="w-full"><button class="btn btn-block btn-secondary text-md btn-outline">Download Resume &rarr;</button></a>
      </div>
    </div>
    <div class="md:grid md:grid-cols-3 gap-4">
      <button *ngFor="let link of details.links"
        class="btn-ghost w-full bg-gradient-to-r from-blue-500 via-violet-800 to-purple-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        <a [href]="link.href" target="_blank"
          class="link-hover text-white flex justify-center items-center gap-4 m-auto">
          <div>
            <img [src]="link.icon" [alt]="link.profileName" class="w-6 bg-white rounded-full w-12" />
          </div>
          <div class="text-xl">{{ link.profileName }}</div>
        </a>
      </button>
    </div>
  </div>
</div>