.bglink-img {
  background: url("/assets/bglink.jpg") no-repeat;
  background-size: cover;
  z-index: -99;
  min-height: 600px;
}

body {
  background-color: lightblue;
  display: grid;
  place-items: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-weight: 600;
  border: solid 2px black;
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: pink;
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px black;
  transition: all 0.3s ease-in-out;
}

button.style::after {
  width: 90%;
  height: 90%;
}
button.style:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}
