<div class="navbar flex justify-center items-center">
  <div
    class="flex-1 gap-3 hover:cursor-pointer md:flex hidden"
    routerLink="home"
  >
    <img
      class="w-12 rounded-full black-and-white-burnout"
      src="/assets/sounish-nath-photo.webp"
      alt="sounish-logo"
    />
    <span>{{ name$ | async }}</span>
  </div>
  <div class="flex items-center gap-4">
    <ul class="menu menu-horizontal px-1">
      <li class="hover:text-primary"><a routerLink="home">Home</a></li>
      <li class="hover:text-primary"><a routerLink="blogs">Blogs</a></li>
      <li class="hover:text-primary"><a routerLink="projects">Projects</a></li>
      <li class="hover:text-primary"><a routerLink="linktree">Linktree</a></li>
      <li class="hover:text-primary"><a routerLink="blogs">Resume</a></li>
    </ul>
  </div>
</div>
