<app-hero
  [name$]="name$"
  [attributes$]="attributes$"
  [profileSummary$]="profileSummary$"
  [workedAtCompanies$]="workedAtCompanies$"
></app-hero>

<app-about class="m-10" [bio$]="bio$"></app-about>

<app-skillset class="m-10" [skillsets$]="skillsets$"></app-skillset>

<app-recommendations
  class="m-10"
  [recommendations$]="recommendations$"
></app-recommendations>

<app-experience-timescroll
  class="m-10"
  [professionalExperiencesTimeline$]="professionalExperiencesTimeline$"
></app-experience-timescroll>
