<app-hero [name$]="name$" [attributes$]="attributes$" [profileSummary$]="profileSummary$"
  [workedAtCompanies$]="workedAtCompanies$"></app-hero>

<app-about class="m-10" [bio$]="bio$"></app-about>

<div class="my-10 flex flex-row items-center justify-center">
  <ul class="menu menu-horizontal bg-base-200 rounded-box">
    <li><a routerLinkActive="bg-gray-50" routerLink="">Projects</a></li>
    <li><a routerLinkActive="bg-gray-50" routerLink="work-experiences">Work experiences</a></li>
    <li><a routerLinkActive="bg-gray-50" routerLink="new-things-i-learnt">New learnings</a></li>
  </ul>
</div>

<div class="w-full my-10 grid lg:grid-cols-5 grid-cols-2 items-center- gap-3 h-auto lg:h-100">
  <app-skillset [skillsets$]="skillsets$" class="col-span-2 border-r border-gray-100"></app-skillset>
  <div class="col-span-3 hidden-scrollbar p-3"> <router-outlet></router-outlet> </div>
</div>

<app-get-in-touch class="my-20"></app-get-in-touch>