<div class="my-10">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" class="w-1/2" fxLayoutGap="15px">
      <div class="w-full">
        <h1 nz-typography class="font-black tracking-normal">
          Hello! <span nz-typography>👋</span> ,
          <span nz-typography class="p-2 text-blue-700">I'm Sounish Nath.</span>
          <br />
          <mark nz-typography> Fullstack & AI/ML Engineer </mark>
          <br />
          Based In Mumbai, In.
        </h1>
      </div>
      <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit esse
        necessitatibus nostrum dolorum ullam. Iure distinctio consequatur nulla
        libero minus ea nesciunt ad, quibusdam architecto! Impedit possimus
        corrupti veritatis delectus.
      </div>
      <div>
        <b nz-typography class="uppercase">worked at &colon;</b>
        <div class="grid-4 my-4">
          <div>TCS</div>
          <div>Google</div>
          <div>Microsoft</div>
        </div>
      </div>
    </div>

    <div>2</div>
  </div>
</div>
