.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.button-gray {
    padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    background-color: rgba(243, 244, 246, 0.85);
        cursor: pointer;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: all;
}

.button-hover-gray {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.button-hover-gray:hover {
    background-color: rgba(243, 244, 246, 0.85);
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
}