<div class="text-center">
  <h2 nz-typography>{{ title }}</h2>
  <p nz-typography>
    {{ subtitle }}
    <a nz-typography href="mailto:flock.sinasini@gmail.com"
      ><b class="text-gray-700">📤 flock.sinasini@gmail.com.</b></a
    >
  </p>

  <div
    class="mb-20 mt-3"
    fxLayout="row wrap"
    fxLayoutGap="15px"
    fxLayoutAlign="center center"
  >
    <div>Connect with me on:</div>
    <div *ngFor="let link of socialLinks$ | async">
      <a [href]="link.link" target="_blank">
        <img [src]="link.icon" alt="social link" width="30" height="30" />
      </a>
    </div>
  </div>
  
</div>
