<div class="p-3 rounded-lg">
  <div
    *ngIf="blogDetail$ | async as blogDetails"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16"
  >
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5">
      <div>
        <img
          [src]="blogDetails.avatar"
          [alt]="blogDetails.author"
          class="w-16 h-16 rounded-full"
        />
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4">
        <div>
          <p>
            <span class="text-blue-700 font-semibold">{{
              blogDetails.author
            }}</span>
            on
          </p>
        </div>

        <div
          class="text-xs text-gray-700"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="5"
        >
          <div>
            <span>{{ blogDetails.datePublished | intlDatetime }}</span>
          </div>
          <div><span> &sdot; </span></div>
          <div>
            <span> {{ blogDetails.readingTime }} </span>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="8" fxLayoutAlign="center center">
      <nz-tag nzColor="magenta" *ngFor="let tag of blogDetails.tags"
        ># {{ tag }}</nz-tag
      >
    </div>
    <div class="prose lg:prose-xl">
      <article
        [innerHTML]="blogDetails.content$ | async | markdownParser"
      ></article>
    </div>
  </div>
</div>
