<div class="navbar flex justify-center items-center">
  <div class="flex-1 gap-3 hover:cursor-pointer md:flex hidden" routerLink="">
    <img class="w-12 rounded-full black-and-white-burnout" src="/assets/sounish-nath-photo.webp" alt="sounish-logo" />
    <span>{{ name$ | async }}</span>
  </div>
  <div class="flex items-center gap-4">
    <ul class="menu menu-horizontal px-1">
      <li class="hover:text-primary">
        <a routerLink="" routerLinkActive="bg-sky-50 text-secondary">Home</a>
      </li>
      <li class="hover:text-primary">
        <a routerLink="blogs" routerLinkActive="bg-sky-50 text-secondary">Blogs</a>
      </li>
      <li class="hover:text-primary">
        <a routerLink="linktree" routerLinkActive="bg-sky-50 text-secondary">Linktree</a>
      </li>
      <li class="hover:text-primary">
        <a routerLink="resume" routerLinkActive="bg-sky-50 text-secondary">Resume</a>
      </li>
      <li class="hover:text-primary">
        <a routerLink="proudworks" routerLinkActive="bg-sky-50 text-secondary">Achievements</a>
      </li>
    </ul>
  </div>
</div>