<div style="background: #fafafa; padding: 30px; min-width: 400px;">
  <nz-card nzTitle="Newsletter Subscriptions" class="text-center">
    <div>
      <form novalidate nz-form>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="mail">
              <input
                nz-input
                name="email"
                type="email"
                id="email"
                placeholder="Email"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
              <input
                nz-input
                name="firstname"
                type="firstname"
                id="firstname"
                placeholder="First name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
              <input
                nz-input
                name="lastname"
                type="lastname"
                id="lastname"
                placeholder="Last name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button
              nz-button
              nzType="text"
              nzSize="large"
              class="w-full bg-black text-white tracking-wide rounded-lg"
            >
              Subscribe
              <span nz-icon nzType="save"></span>
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-card>
</div>
