@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html,
:host {
  font-family: "Nunito Sans", sans-serif;
}

.bg-aqua {
  background: #5fffdd;
}

@apply {
  router-link: shadow border border-gray-700 text-green-600 p-2 rounded-lg;
}
