<div class="my-10 p-2 border-t mx-6">
  <div
    fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutAlign.gt-md="space-between center"
    fxLayoutAlign="center center"
    fxLayoutGap="20"
    class="mb-4"
  >
    <div
      fxLayout="column"
      fxLayout.gt-md="row"
      fxLayoutAlign.gt-md="space-between center"
      fxLayoutAlign="center center"
      fxLayoutGap="5"
    >
      <div>
        Made with ❤️ by
        <b>
          <a
            [href]="['https://github.com/' + githubUsername]"
            target="_blank"
            >{{ githubUsername }}</a
          >
        </b>
      </div>
      <div>&copy;</div>
      <div>2020 - {{ currentYear }}</div>
      <div class="font-semibold">
        | <span> Currently Site Is In Building Phase 🚣‍♀️ </span>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20">
      <div *ngFor="let link of socialLinks$ | async">
        <a [href]="link.link" target="_blank">
          <img
            class="hover:bg-gray-100 rounded-full cursor-pointer"
            [src]="link.icon"
            width="30"
            height="30"
          />
        </a>
      </div>
    </div>
  </div>
</div>
