<div class="m-auto text-center">
  <p nz-typography>Things I'm good at</p>
  <h2 nz-typography>Skillsets Bagpack</h2>
  <div class="my-2" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10">
    <div class="text-left" *ngFor="let item of [1, 2, 3]">
      <h4 nz-typography class="text-blue-700 font-semibold text-xl">
        Frontend
      </h4>
      <div class="grid-5">
        <div>1.a</div>
        <div>1.b</div>
        <div>1.c</div>
        <div>1.d</div>
        <div>1.e</div>
      </div>
    </div>
  </div>
</div>
